body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  font-family: "Merriweather",serif;
  color: #505962;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  font-size: 1.8rem;
}
.container {
  margin-top: 30px;
  width: 150 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.col-md-3 {
  width: 25%;
}

/*--Navigation--*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  background: rgba (0,0,0,0.6)!important;
  padding-bottom: 0px;
  margin-right: 0px;
}

.nav-bar .fa-bars {
  font-size: 35px;
  color: #000;
}

.navbar-toggler {

  outline: none !important;
}

.navbar-nav {

  float: right;
  text-align: right;
}

.navbar-brand{

  color: #505962 !important;
}

.navbar-brand h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.9rem;
  color: rgb(211, 9, 9);
  margin-right: 20px;

}
.navbar-brand h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.9rem;
  color: rgb(14, 1, 49);
  margin-left: 25%;

}

.navbar-brand h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .80rem;
  margin-left: 11%;
  color: #000;
  padding-top: 2.5%;
}


.nav li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: block;
  padding: 10px 15px;
}

  .nav li a:hover {
    text-decoration: none;
    border-radius: 4px;
    background-color:#eee;
}

.nav-pills li a {
  border-radius: 5px;
}
.nav li.active a:focus {
 color: #fff;
 background-color: #444444;
}
.nav-pills li.active a :hover  {
  color: #fff;
  background-color: #337ab7;
 }


/*----home-----*/

.about {
  padding-top: 100px;
  padding-bottom: 50px;
  margin:auto;
  font-size: 1.5rem;

}
.about p {
  margin-bottom: 20px;
  line-height: 25px;
}
.about h1 {
  font-size: 2.7rem;
  color: #000;
}

.about h3 {
  font-size: 2.1rem;
}

.about img {
  margin-top: auto;
  border-radius: 50%;
  width: 250px;
  margin-left: 110px;
}


/*-----Resume-----*/

.resume {
  padding-bottom: 10%;
  padding-bottom: 10px;
}


.resume img {
 margin-left: auto;
 border-radius: 10%; 
}

.row h1 {
  margin-left: 21%;
  padding-bottom: 10px;
}

.row h2 {
  font-size: 2.2rem;
  color:rgb(3, 109, 34);
  margin-bottom: 20px;
}
.resume li {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.resume li h4 {
  font-size: 1.9rem;
  margin-bottom: 20px;
}



.timeline {

  list-style-type: none;
  position: relative;
}

.timeline:before {
  content: '';
  background: rgb(3, 109, 34);
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 4px;
  height: 100%;
  z-index: 1;
}

.timeline li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #fff;
}
/*-----projects-------*/

.projects {
  padding-top: 90px;
  padding-bottom: 50px;
  margin:auto;
  font-size: 1.5rem;

}
.projects p {
  margin-bottom: 20px;
  line-height: 25px;
}
.projects h1 {
  font-size: 2.7rem;
  color: #000;
}

.projects h3 {
  font-size: 2.1rem;
}

.projects img {
  margin-top: 70px;
  border-radius: 50%;
  width: 450px;
  margin-left: 110px;
}


/*--------Footer--------*/

.footer-main-div {
  width: 100px;
  height: auto;
  margin:auto;
  background: #272727;
  padding: 20px 0px;
}

footer-social-icons {
  width :100px;
  height: auto;
  margin: auto;
}

footer-social-icons ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

footer-social-icons ul li {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0px
}





/*---------social-icons-----------*/

.social
{
  top:30%;
  position: fixed; 
}

.social ul 
{
  list-style-type: none;
  padding: 0;
  transform: translateX(-270px);
}

.social ul li 
{
 display: block;
 margin: 5px;
 background-color: rgba(0, 0, 0, 0.5);
 width:300px;
 text-align: right;
 padding: 10px;
 border-radius: 0 30px 30px 0;
 transition: all 1s;
}

.social ul li:hover
{
  transform: translateX(30px);
}

.social ul li.instagram:hover
{
  background-color: #3f729b;
}

.social ul li.facebook:hover
{
  background-color: #3d5999;
}

.social ul li.linkedin:hover
{
  background-color: #4875B4;
}

.social ul li.github:hover
{
  background-color: #333;
}

.social ul li a 
{
  color : white;
  text-decoration: none;
}

.social ul li i
{
  text-align: center;
  margin-left: 14px;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  font-size: 15px;
  transform: rotate(0deg);
}

.social ul li:hover i 
{
  transform: rotate(360deg);
  transition: all 1s;
   
}
